
#VNetSubnet {
  #VNet {
    .ip {
      max-width: 15rem;
    }
    .prefix {
      width: 5rem;
    }
  }
  #Subnet {
    .ip {
      width: 80%;
    }
    .prefix {
      width: 10%;
    }
    .parent {
      position: relative;
    }
    .child {
      position: absolute;
      inset: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
  }
}
